body{
    margin: 0;
    font-family: 'Helvetica', 'Arial', sans-serif;
    background-color: #2c2f38;
}

.clearfix:after {
    content: " ";
    display: block;
    height: 0px;
    clear: both;
    visibility: hidden;
}

.h1 {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 20px 0;
}

.h2 {  
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    padding: 20px 0 9px;;
}

.p {
    font-size: 16px;
    margin: 0;
    color: #b2b2b2;
    line-height: 1.35em;
}

.main-header {
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.05);
    box-shadow: 0 1px 0 rgba(0,0,0,0.5);
}

ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

button:focus {
    outline: none;
}

.demoWrapper {
    width: 960px;
    margin: 0 auto;
}

.demoContainer {
    float: left;
}

.demoTitle {
    width: 200px;
    color: #fff;
    text-align: center;
    margin: 10px auto 0;
    padding: 10px 0;
    font-size: 14px;
    border-top: 1px solid #1bbc9b;
}

.demoTitle em {
    text-decoration: underline;
}

.demoButton {
    display: block;
    width: 200px;
    margin: 0 20px 20px;
    background: rgba(255,255,255,0);
    border: 2px solid #1bbc9b;
    color: #1bbc9b;
    padding: 10px 0;
    font-weight: 700;
    letter-spacing: 0.2em;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 2px;
    
    -webkit-transition: all 0.15s ease-in-out;
            transition: all 0.15s ease-in-out;
}

.demoButton:hover {
    background: #1bbc9b; 
    color: #fff;
}


/**
 * Text boxes
 */

.textContainer {
    width: 200px;
    height: 200px;
    background: #fff;
    border: 10px solid #1bbc9b;
    margin: 20px 20px 0;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
}

.textContainer p {
    color: #212121;
    font-weight: bold;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.fitOne {
    box-shadow: inset 0 0 10px rgba(0,0,0,.3);
    padding: 5px;
    height: 37px;
    margin-bottom: 10px;
}

/**
 * Explanation
 */

.explanation-wrapper {
    margin: 40px;
    padding: 10px 0 0;
    border-top: 1px solid rgba(255,255,255,0.05);
    box-shadow: 0 -1px 0 rgba(0,0,0,0.5);
}

.explanation-container {
    width: 92%;
    margin: 0 auto;
    max-width: 600px;
}

footer {
    border-top: 1px solid rgba(255,255,255,0.05);
    box-shadow: 0 -1px 0 rgba(0,0,0,0.5);
}

footer p{
    text-align: center;
    color: rgba(255,255,255, 0.2);
    font-size: 12px;
    font-family: monospace;
    text-transform: uppercase;
    margin: 0;
    padding: 16px 0;
}

/**
 * Media Queries
 */

@media only screen and (max-width: 960px){
    .demoWrapper {
        width: 720px;
    }   
}

@media only screen and (max-width: 720px){
    .demoWrapper {
        width: 480px;
    }   
}

@media only screen and (max-width: 480px){
    .demoWrapper {
        width: 240px;
    }   
}